{
  "env": {
    "browser": true
  },
  "extends": [
    "eslint:recommended",
    "airbnb",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "../../.eslintrc"
  ],
  "overrides": [
    {
      "files": ["webpack.*.ts", "*.spec.tsx"],
      "rules": {
        "import/no-extraneous-dependencies": "off"
      }
    },
    {
      "files": ["tailwind.config.[tj]s"],
      "rules": {
        "@typescript-eslint/no-var-requires": "off"
      }
    }
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "@typescript-eslint",
    "react",
    "react-hooks",
    "eslint-plugin-import",
    "prettier"
  ],
  "root": true,
  "rules": {
    // Import
    "import/extensions": [
      "error",
      "ignorePackages",
      { "ts": "never", "tsx": "never" }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": ["**/*.stories.tsx"] }
    ],
    // React
    "react-hooks/exhaustive-deps": "warn",
    "react-hooks/rules-of-hooks": "error",
    "react/jsx-filename-extension": [
      "warn",
      { "extensions": [".jsx", ".tsx"] }
    ],
    "react/jsx-props-no-spreading": "off",
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off"
    // Typescript
    // "@typescript-eslint/explicit-function-return-type": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
